.card-icons{
    width: 22px;
    margin-top: 20px;
    padding: 11px;
}


.matmenuBtn{
    line-height: 1.25rem;
    padding: 5px 10px 5px 17px;
}
.colorIcon{
    border-radius: 100px;
    border: none;
    height: 25px;
    width: 25px;
    cursor: pointer;
}