<div class="icons">
    <a routerLink="."> <img src="../../../assets/reminder_icon.svg" class="card-icons"></a>
    <a routerLink="."><img src="../../../assets/collaborator_icon.svg" class="card-icons"></a>
    <a routerLink="."> <img src="../../../assets/background_icon.svg" class="card-icons"></a>
    <a routerLink="."><img src="../../../assets/image_icon.svg" class="card-icons"></a>
    <a routerLink="."><img src="../../../assets/unarchive_icon.svg" class="card-icons"></a>
    <a routerLink="."> <img src="../../../assets/threedot_icon.svg" class="card-icons"></a>
</div>