<div class="boxsize">
<div *ngFor="let notes of childMessage" class="con">
<mat-card class="mat-box" [style.background]="notes.color" style="width: 220px;">
    <div (click)="openDialog(notes)">
    <h2 (click)="openDialog(notes)">{{notes.title}}</h2>
    <p (click)="openDialog(notes)">{{notes.description}}</p>
    <!-- <div> {{notes.noteId}}</div> -->
    </div>
    <app-icons [noteObject]="notes" (displayicons)="recieveArchiveNote($event)" (Trash)="Trash($event)"></app-icons>
</mat-card>
</div>
</div>
