.mat-box{
    height: 140px;
    width:px;
   
    margin-top: 30px;
    
}
.boxsize
{
    display: flex; flex-flow: row wrap;padding-left: 54px;
}
.con{
    padding-left: 36px;
    display: flex;
}
.con>mat-card{
padding: 25px;
}