 
  .inputbox-pannel{
    border: 0px solid;
    width: 240px;
    height: 35px;
    outline: none;
  }
 .matcreatenotebox{
    width: 38%;
    margin-left:35%;
    box-shadow: 2px 2px silver;
  
 }
.clsbtn{
    margin-left: 60px;
}
.sideicon{
  width:24px;
  margin-left: 18px;
  margin-top: 8px;

}
.clsbtn{
  margin-top: -17px;
  margin-left: -11px;
}
.closetab{
  text-decoration: none;
  color: black;
  margin-left:320px;
  margin-top: -25px;
}
.pinsicon{
  width: 25px;
  margin-top: 25px;
  margin-left: 200px;
}
.btncls{
  margin-top: -35px;
  font-size: 18px;
  margin-left: 124px;
}
#title-pannel{
  
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.5rem;
  padding-left: px;
}
#txt-pannel{
  letter-spacing: .01428571em;
    font-family: Roboto,Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    
  
    line-height: 1.25rem;
}

.cardtopimgs.ng-star-inserted{
  margin-left: 145px;

}