 
  .inputbox-pannel{
    border: 0px solid;
    width: 250px;
    height: 51px;
    outline: none;
  }
 .matcreatenotebox{
    width: 26%;
    margin-left: 40%;
    box-shadow: 2px 2px silver;
 }
.clsbtn{
    margin-left: 70px;
}
.sideicon{
  width:22px;
  margin-left: 6px;
  margin-top: 20px;

}
.clsbtn{
  margin-left: -21px;
}
.closetab{
  text-decoration: none;
  color: black;
  margin-left: 274px;
  margin-top: -25px;
}
.pinsicon{
  width: 25px;
  margin-top: 25px;
}
.btncls{
  margin-top: -35px;
  font-size: 18px;
}